# flyctl launch added from .gitignore
target

# flyctl launch added from target/release/build/audiopus_sys-96570668697da588/out/opus/.gitignore
target/release/build/audiopus_sys-96570668697da588/out/opus/**/Doxyfile
target/release/build/audiopus_sys-96570668697da588/out/opus/**/Makefile
target/release/build/audiopus_sys-96570668697da588/out/opus/**/Makefile.in
target/release/build/audiopus_sys-96570668697da588/out/opus/**/TAGS
target/release/build/audiopus_sys-96570668697da588/out/opus/**/aclocal.m4
target/release/build/audiopus_sys-96570668697da588/out/opus/**/autom4te.cache
target/release/build/audiopus_sys-96570668697da588/out/opus/**/*.kdevelop.pcs
target/release/build/audiopus_sys-96570668697da588/out/opus/**/*.kdevses
target/release/build/audiopus_sys-96570668697da588/out/opus/**/compile
target/release/build/audiopus_sys-96570668697da588/out/opus/**/config.guess
target/release/build/audiopus_sys-96570668697da588/out/opus/**/config.h
target/release/build/audiopus_sys-96570668697da588/out/opus/**/config.h.in
target/release/build/audiopus_sys-96570668697da588/out/opus/**/config.log
target/release/build/audiopus_sys-96570668697da588/out/opus/**/config.status
target/release/build/audiopus_sys-96570668697da588/out/opus/**/config.sub
target/release/build/audiopus_sys-96570668697da588/out/opus/**/configure
target/release/build/audiopus_sys-96570668697da588/out/opus/**/depcomp
target/release/build/audiopus_sys-96570668697da588/out/opus/**/INSTALL
target/release/build/audiopus_sys-96570668697da588/out/opus/**/install-sh
target/release/build/audiopus_sys-96570668697da588/out/opus/**/.deps
target/release/build/audiopus_sys-96570668697da588/out/opus/**/.libs
target/release/build/audiopus_sys-96570668697da588/out/opus/**/.dirstamp
target/release/build/audiopus_sys-96570668697da588/out/opus/**/*.a
target/release/build/audiopus_sys-96570668697da588/out/opus/**/*.exe
target/release/build/audiopus_sys-96570668697da588/out/opus/**/*.la
target/release/build/audiopus_sys-96570668697da588/out/opus/**/*-gnu.S
target/release/build/audiopus_sys-96570668697da588/out/opus/**/testcelt
target/release/build/audiopus_sys-96570668697da588/out/opus/**/libtool
target/release/build/audiopus_sys-96570668697da588/out/opus/**/ltmain.sh
target/release/build/audiopus_sys-96570668697da588/out/opus/**/missing
target/release/build/audiopus_sys-96570668697da588/out/opus/**/m4/libtool.m4
target/release/build/audiopus_sys-96570668697da588/out/opus/**/m4/ltoptions.m4
target/release/build/audiopus_sys-96570668697da588/out/opus/**/m4/ltsugar.m4
target/release/build/audiopus_sys-96570668697da588/out/opus/**/m4/ltversion.m4
target/release/build/audiopus_sys-96570668697da588/out/opus/**/m4/lt~obsolete.m4
target/release/build/audiopus_sys-96570668697da588/out/opus/**/opus_compare
target/release/build/audiopus_sys-96570668697da588/out/opus/**/opus_demo
target/release/build/audiopus_sys-96570668697da588/out/opus/**/repacketizer_demo
target/release/build/audiopus_sys-96570668697da588/out/opus/**/stamp-h1
target/release/build/audiopus_sys-96570668697da588/out/opus/**/test-driver
target/release/build/audiopus_sys-96570668697da588/out/opus/**/*.sw*
target/release/build/audiopus_sys-96570668697da588/out/opus/**/*.o
target/release/build/audiopus_sys-96570668697da588/out/opus/**/*.lo
target/release/build/audiopus_sys-96570668697da588/out/opus/**/*.pc
target/release/build/audiopus_sys-96570668697da588/out/opus/**/*.tar.gz
target/release/build/audiopus_sys-96570668697da588/out/opus/**/*~
target/release/build/audiopus_sys-96570668697da588/out/opus/**/tests/*test
target/release/build/audiopus_sys-96570668697da588/out/opus/**/tests/test_opus_api
target/release/build/audiopus_sys-96570668697da588/out/opus/**/tests/test_opus_decode
target/release/build/audiopus_sys-96570668697da588/out/opus/**/tests/test_opus_encode
target/release/build/audiopus_sys-96570668697da588/out/opus/**/tests/test_opus_padding
target/release/build/audiopus_sys-96570668697da588/out/opus/**/tests/test_opus_projection
target/release/build/audiopus_sys-96570668697da588/out/opus/**/celt/arm/armopts.s
target/release/build/audiopus_sys-96570668697da588/out/opus/**/celt/dump_modes/dump_modes
target/release/build/audiopus_sys-96570668697da588/out/opus/**/celt/tests/test_unit_cwrs32
target/release/build/audiopus_sys-96570668697da588/out/opus/**/celt/tests/test_unit_dft
target/release/build/audiopus_sys-96570668697da588/out/opus/**/celt/tests/test_unit_entropy
target/release/build/audiopus_sys-96570668697da588/out/opus/**/celt/tests/test_unit_laplace
target/release/build/audiopus_sys-96570668697da588/out/opus/**/celt/tests/test_unit_mathops
target/release/build/audiopus_sys-96570668697da588/out/opus/**/celt/tests/test_unit_mdct
target/release/build/audiopus_sys-96570668697da588/out/opus/**/celt/tests/test_unit_rotation
target/release/build/audiopus_sys-96570668697da588/out/opus/**/celt/tests/test_unit_types
target/release/build/audiopus_sys-96570668697da588/out/opus/**/doc/doxygen_sqlite3.db
target/release/build/audiopus_sys-96570668697da588/out/opus/**/doc/doxygen-build.stamp
target/release/build/audiopus_sys-96570668697da588/out/opus/**/doc/html
target/release/build/audiopus_sys-96570668697da588/out/opus/**/doc/latex
target/release/build/audiopus_sys-96570668697da588/out/opus/**/doc/man
target/release/build/audiopus_sys-96570668697da588/out/opus/**/package_version
target/release/build/audiopus_sys-96570668697da588/out/opus/**/version.h
target/release/build/audiopus_sys-96570668697da588/out/opus/**/celt/Debug
target/release/build/audiopus_sys-96570668697da588/out/opus/**/celt/Release
target/release/build/audiopus_sys-96570668697da588/out/opus/**/celt/x64
target/release/build/audiopus_sys-96570668697da588/out/opus/**/silk/Debug
target/release/build/audiopus_sys-96570668697da588/out/opus/**/silk/Release
target/release/build/audiopus_sys-96570668697da588/out/opus/**/silk/x64
target/release/build/audiopus_sys-96570668697da588/out/opus/**/silk/fixed/Debug
target/release/build/audiopus_sys-96570668697da588/out/opus/**/silk/fixed/Release
target/release/build/audiopus_sys-96570668697da588/out/opus/**/silk/fixed/x64
target/release/build/audiopus_sys-96570668697da588/out/opus/**/silk/float/Debug
target/release/build/audiopus_sys-96570668697da588/out/opus/**/silk/float/Release
target/release/build/audiopus_sys-96570668697da588/out/opus/**/silk/float/x64
target/release/build/audiopus_sys-96570668697da588/out/opus/**/silk/tests/test_unit_LPC_inv_pred_gain
target/release/build/audiopus_sys-96570668697da588/out/opus/**/src/Debug
target/release/build/audiopus_sys-96570668697da588/out/opus/**/src/Release
target/release/build/audiopus_sys-96570668697da588/out/opus/**/src/x64

# flyctl launch added from target/release/build/audiopus_sys-96570668697da588/out/opus/win32/.gitignore
# Visual Studio ignores
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/[Dd]ebug
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/[Dd]ebugDLL
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/[Dd]ebugDLL_fixed
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/[Dd]ebugPublic
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/[Rr]elease
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/[Rr]eleaseDLL
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/[Rr]eleaseDLL_fixed
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/[Rr]eleases
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.manifest
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.lastbuildstate
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.lib
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.log
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.idb
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.ipdb
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.ilk
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.iobj
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.obj
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.opensdf
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.pdb
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.sdf
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.suo
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.tlog
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.vcxproj.user
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.vc.db
target/release/build/audiopus_sys-96570668697da588/out/opus/win32/**/*.vc.opendb
